#footer {
    display: flex;
    flex-direction: column;
    background-color: #ff83b4;
}

#footer-container {
    margin-left: -10px;
    margin-right: -10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.socials-container {
    margin-right: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.social {
    width: 60px;
    height: 60px;
    text-decoration: none;
    margin: 15px;
}

.socials-container a {
    text-decoration: none;
}

.hackathon-text {
    font-family: 'Raleway', sans-serif;
    font-size: 80%;
}

#feedback-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 70px;
    margin-left: 50px;
}

#feedback-text {
    font-size: 300%;
    font-family: 'Raleway', sans-serif;
    color: black;
}

#feedback-text: hover{
  text-decoration: none !important;
}

#email-input-form {
    width: 400px;
    height: 40px;
    border: 2px solid black;
    border-radius: 20px;
}

#send-email-button {
    font-size: 100%;
    margin-left: 30px;
    border-radius: 30px;
    border: 2px solid black;
    font-family: 'Raleway', sans-serif;
}

#email-input-container {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-between;
    width: 100%;
}

#footer-notes {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#footer-notes-break {
    border-bottom: 1px solid rgba(0,0,0,0.5);
}

.footer-notes-links {
    margin: 20px;
    margin-left: 100px;
}

.footer-notes-links a{
    text-decoration: none;
    color: black;
    border-bottom: 2px solid transparent;
    font-family: 'Raleway', sans-serif;
    margin-right: 20px;
}

.footer-notes-links a:hover {
    border-color: black;
    transition: border-color 0.7s;
}

.hackathon-text {
    margin-right: 100px;
}
