.container{
    display: flex;
    /* color: white; */
}

#relax_logo {
    height: 130px;
    width: 130px;
    margin-left: 50px;
}

.logo-container {
    display: flex;
    flex-direction: row;
}

.logo-text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.logo-text-container p {
    margin: 0px;
    font-family: 'Raleway', sans-serif;
    font-size: 180%;
    font-weight: 900;
}

#nav-bar {
    display: flex;
    flex-direction: flex-row;
    justify-content: space-between;
    align-items: center;
}

.navigation-container {
    display: flex;
    flex-direction: flex-row;
    margin-right: 15%;
}

.nav-item {
    margin-left: 40px;
    font-size: 150%;
    text-decoration: none;
    color: black;
    border-bottom: 3px solid transparent;
    font-family: 'Raleway', sans-serif;
}

.nav-item:hover {
    border-color: #ff83b4;
    transition: border-color 0.7s;
}

hr {
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 0px;
    border-style: solid;
    border-color: #ff83b4;
}

@media screen and (max-width: 1300px) and (min-width: 1151px){
    .nav-item {
        font-size: 120%;
    }

    #relax_logo {
        height: 110px;
        width: auto;
    }

    .logo-text-container {
        font-size: 80%;
    }
}

@media screen and (max-width: 1150px) and (min-width: 1011px){
    .nav-item {
        font-size: 95%;
    }

    #relax_logo {
        height: 90px;
        width: auto;
    }

    .logo-text-container {
        font-size: 65%;
    }
}

@media screen and (max-width: 1010px) {
    .nav-item {
        font-size: 70%;
    }

    #relax_logo {
        height: 70px;
        width: auto;
    }

    .logo-text-container {
        font-size: 50%;
    }
}

