body{
  background-color: #dbd8f0;
}

.container-fluid{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container{
  display: flex;
  flex-direction: column;
  text-align: center;
}

.ques_prompt{
  font-size: 80px;
  padding-top: 100px;
  padding-bottom: 100px;
}

#myCarousel{
  background-color: #eac5d8;
}

.slide{
  display: flex;
  align-items: center;
  flex-direction: column;
}

.carousel-inner{
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

/* .carousel-control{
  opacity: 0;
} */

#textarea{
  padding-top: 30px;
  border-radius: 15px;
  background-image: url('https://www.google.com/search?q=lines+notebook&tbm=isch&ved=2ahUKEwiRjcz84bTxAhUEx3MBHdqsCtoQ2-cCegQIABAA&oq=lines+notebook&gs_lcp=CgNpbWcQAzICCAAyAggAMgIIADIECAAQHjIGCAAQBRAeMgYIABAFEB4yBggAEAUQHjIGCAAQBRAeMgYIABAFEB4yBggAEAUQHjoECAAQQ1CzS1iEVmDfV2gAcAB4AIABQYgB1wOSAQE5mAEAoAEBqgELZ3dzLXdpei1pbWfAAQE&sclient=img&ei=yNXWYJGJIISOz7sP2tmq0A0&bih=859&biw=1920#imgrc=lNTy4m_gGAsQ3M');
}

.rate_section{
  font-size: 30px;
}
 /* for slider */
.slidecontainer {
  width: 100%; /* Width of the outside container */
}

/* The slider itself */
.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;
  background: #8EA4B2;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #56cbf9;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #56cbf9;
  cursor: pointer;
}

.save{
  width: 50%;
}

.fa-save{
  font-size: 24px;
}
